/java-team-practice/build/tmp/compileJava/compileTransaction/stash-dir/MemberService.class.uniqueId1
/java-team-practice/build/tmp/compileJava/compileTransaction/stash-dir/MemberRepository.class.uniqueId0
/java-team-practice/build/tmp/compileJava/compileTransaction/stash-dir/MemberRepository.class.uniqueId1
/java-team-practice/build/tmp/compileJava/compileTransaction/stash-dir/MemberService.class.uniqueId0
/java-team-practice/build/tmp/compileJava/compileTransaction/stash-dir/Application.class.uniqueId1
/java-team-practice/build/tmp/compileJava/compileTransaction/stash-dir/Application.class.uniqueId2
